In [ ]:
%pip install pymongo
%pip install pandasai
%pip install pandas

In [3]:
import os
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pandas as pd
from pandasai import SmartDataframe, SmartDatalake
import datetime as dt
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [7]:
def connectMongo() :
    uri = "mongodb+srv://kong:2GgNZ7V0V0q5Go9d@botnoivoiceprod.f4igi.mongodb.net/?retryWrites=true&readPreference=secondary&readPreferenceTags=nodeType:ANALYTICS&w=majority&appName=botnoivoiceprod"
    # Create a new client and connect to the server
    client = MongoClient(uri, server_api=ServerApi('1'))
    # Send a ping to confirm a successful connection
    try:
        client.admin.command('ping')
        print("Pinged your deployment. You successfully connected to MongoDB!")
    except Exception as e:
        print(e)

    paymentdb = client['prod-tts-payment']

    df_pay = pd.DataFrame(paymentdb.payment.find())
    df_message = pd.DataFrame(paymentdb.message.find())

    df_pay_droped = df_pay.drop(columns=['qrcode' ,'transactionid', 'actual_time'	,'sale_code_name'	, 'package_sub','ref1',	'action'	,'subscription',	'sub_id', 'promotion'])
    df_message_droped = df_message.drop(columns=[ 'url', 'audio_id', 'page'])

    df_pay_droped = df_pay_droped[(df_pay_droped.datetime > '2024-01-01 00:00:00') & (df_pay_droped.status == True)]
    df_message_droped = df_message_droped[(df_message_droped.datetime > '2024-01-01 00:00:00') & (df_message_droped.channel == 'download')]

    df_pay_droped = df_pay_droped.astype(str)
    df_message_droped = df_message_droped.astype(str) 

    df_pay_droped['datetime'] = pd.to_datetime(df_pay_droped['datetime'])
    df_pay_droped['price'] = df_pay_droped['price'].astype(float)
    df_pay_droped['point'] = df_pay_droped['point'].astype(float)

    df_pay_droped['datetime'] = pd.to_datetime(df_pay_droped['datetime'], errors='coerce')
    df_message_droped['datetime'] = pd.to_datetime(df_message_droped['datetime'], errors='coerce')

    df_pay_droped['Year'] = df_pay_droped['datetime'].dt.year
    df_pay_droped['Month'] = df_pay_droped['datetime'].dt.month
    df_pay_droped['Week'] = df_pay_droped['datetime'].dt.isocalendar().week
    df_pay_droped['Day'] =df_pay_droped['datetime'].dt.day
    df_pay_droped['Hour'] = df_pay_droped['datetime'].dt.hour
    df_pay_droped['Day_of_Week'] =df_pay_droped['datetime'].dt.day_name()

    df_pay_droped['Year'] = df_pay_droped['Year'].astype('Int32')
    df_pay_droped['Month'] = df_pay_droped['Month'].astype('Int32')
    df_pay_droped['Week'] = df_pay_droped['Week'].astype('Int32')
    df_pay_droped['Day'] = df_pay_droped['Day'].astype('Int32')
    df_pay_droped['Hour'] = df_pay_droped['Hour'].astype('Int32')

    df_message_droped['datetime'] = pd.to_datetime(df_message_droped['datetime'])
    df_message_droped['count'] = df_message_droped['count'].astype(float)

    df_message_droped.rename(columns={'count': 'point'}, inplace=True)
    df_message_droped['provider'].fillna('web', inplace=True)

    df_message_droped['Year'] = df_message_droped['datetime'].dt.year
    df_message_droped['Month'] = df_message_droped['datetime'].dt.month
    df_message_droped['Week'] = df_message_droped['datetime'].dt.isocalendar().week
    df_message_droped['Day'] = df_message_droped['datetime'].dt.day
    df_message_droped['Hour'] = df_message_droped['datetime'].dt.hour
    df_message_droped['Day_of_Week'] = df_message_droped['datetime'].dt.day_name()

    df_message_droped['Year'] = df_message_droped['Year'].astype('Int32')
    df_message_droped['Month'] = df_message_droped['Month'].astype('Int32')
    df_message_droped['Week'] = df_message_droped['Week'].astype('Int32')
    df_message_droped['Day'] = df_message_droped['Day'].astype('Int32')
    df_message_droped['Hour'] = df_message_droped['Hour'].astype('Int32')
    
    return [df_pay_droped, df_message_droped]

In [8]:
df = connectMongo()
df_pay = df[0]
df_message = df[1]

Pinged your deployment. You successfully connected to MongoDB!

/var/folders/kd/k3llvfvd7lx1zsjhfn1p33th0000gn/T/ipykernel_53024/2361104251.py:14: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df_pay = pd.DataFrame(paymentdb.payment.find())

In [8]:
def ShowTop10User(period, df):
  # Get current date

  now = dt.datetime.now()
  current_year = now.year
  current_month = now.month
  current_day = now.day
  current_week = now.isocalendar()[1]
  current_quarter = (now.month - 1) // 3 + 1

  # Filter DataFrame based on the period
  if period == 'Year':
      df = df[df['Year'] == current_year]
      group_cols = ['Year', 'user_id']
  elif period == 'Quarter':
      df['Quarter'] = (df['Month'] - 1) // 3 + 1
      df = df[(df['Year'] == current_year) & (df['Quarter'] == current_quarter)]
      group_cols = ['Year', 'Quarter', 'user_id']
  elif period == 'Month':
      df = df[(df['Year'] == current_year) & (df['Month'] == current_month)]
      group_cols = ['Year', 'Month', 'user_id']
  elif period == 'Week':
      df = df[(df['Year'] == current_year) & (df['Week'] == current_week)]
      group_cols = ['Year', 'Week', 'user_id']
  elif period == 'Day':
      df = df[(df['Year'] == current_year) & (df['Month'] == current_month) & (df['Day'] == current_day)]
      group_cols = ['Year', 'Month', 'Day', 'user_id']
  else:
      raise ValueError("Invalid period. Choose from 'Year', 'Quarter', 'Month', 'Week', 'Day'.")

  # Debugging: Print intermediate DataFrame to check filtering
  # print("Filtered DataFrame for period:", period)
  # print(df)

  # Group by the defined columns and sum the prices
  grouped_df = df.groupby(group_cols, group_keys=False)['price'].sum().reset_index()

  # Debugging: Print grouped DataFrame to check aggregation
  # print("Grouped DataFrame:\n", grouped_df)

  # Get the top ten users for each time period
  top_users = grouped_df.groupby(group_cols[:-1], group_keys=False).apply(lambda x: x.nlargest(10, 'price')).reset_index(drop=True)

  # Debugging: Print final top users DataFrame
  # print("Top Users DataFrame:\n", top_users)

  return top_users

In [11]:
top = ShowTop10User('Year', df_pay)
top

   Year                            user_id    price
0  2024       zurLzE2sCwhj8irW2N5coH54F3J2  39600.0
1  2024  U1fc12faf75763d1e8e987b5654c5fe3a  13500.0
2  2024       QzJOQkPFJcQnSiARe4mR8s3z2Ez1  13177.0
3  2024       wD9hN9xUJuQDMiCIE7qBFuC4ctf2  11019.0
4  2024  U78dbd2d715e9ed6961cc2e2984d7f487  10199.0
5  2024       GuxQH9oRD6WoyPC6lDbGt9Gh61E3   9999.0
6  2024       pqPD1OxOPuWnNCck8Z1q6F7I8Gp2   9699.0
7  2024  U43b2197d43327dc2125277350952f174   7794.0
8  2024       OjAn7Z2ApkZkvTjrU9Gsg4AE9Ho2   7164.0
9  2024       f1DInd6BK6fK8opZyw3pRwcojR73   6964.0

In [12]:
df_pay

,_id,user_id,package_id,price,datetime,status,point,Year,Month,Week,Day,Hour,Day_of_Week
531770,6591e8703e76b8103e4c9e3f,k3TDM6AB20aKB384TgMl8GqXQpK2,NoAds,29.0,2024-01-01 05:17:20,True,0.0,2024,1,1,1,5,Monday
531773,65921d9e2e0126e0a61fe430,Uc2c3f2953c8bce372f1bf83caca2a6c2,credits,6.0,2024-01-01 02:04:14,True,217.0,2024,1,1,1,2,Monday
531774,659227ab3a08d1938f5b5703,xfxlfT2nLcaFxvkLvuclelInaK53,credits,2.0,2024-01-01 02:47:07,True,71.0,2024,1,1,1,2,Monday
531775,659229692e0126e0a61fe431,C9PCYn3LDEQkFed3ZlQHXgLroJ02,credit,10.0,2024-01-01 09:54:33,True,400.0,2024,1,1,1,9,Monday
531777,6592301c70eef3da5f250b2b,UyUUO3Mp7gQMBooCfXoDxso1ucD2,credits,3.0,2024-01-01 03:23:08,True,96.0,2024,1,1,1,3,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
547738,666b9563408d86244e8480bb,hgAsRHKSZjZZMJmpD2M23spWmjz1,pack_99,99.0,2024-06-14 07:57:07,True,4100.0,2024,6,24,14,7,Friday
547739,666b9d21408d86244e8480bc,A3gfIkQykQYvWopAPBBvzPQ8Ub92,pack_2000,1000.0,2024-06-14 08:30:09,True,80000.0,2024,6,24,14,8,Friday
547740,666ba19d408d86244e8480bf,KwT05XAhQoZIayk85uokkNj3ftT2,pack_99,99.0,2024-06-14 08:49:17,True,4100.0,2024,6,24,14,8,Friday
547741,666badf8408d86244e8480c0,0VZYywS5AOgJPoBXzrqusJBvekg2,pack_299,199.0,2024-06-14 09:42:00,True,12500.0,2024,6,24,14,9,Friday
547742,666bb254408d86244e8480c3,oAGPVmR0VSTUqJ7DVjCUZpc1BCv1,pack_499,359.0,2024-06-14 10:00:36,True,23500.0,2024,6,24,14,10,Friday

In [1]:
def feature_eng(df_pay,df_msg) :
    datetime_Jan_24 = '2024-01-01 00:00:00'
    true_transac = df_pay[(df_pay['status'] == True)& ((df_pay.datetime >= datetime_Jan_24))]
    true_transac.price = pd.to_numeric(true_transac.price, errors='coerce')

    sum_transac = true_transac.groupby('user_id')['price'].sum().reset_index().rename(columns={'price': 'sum_price'})
    msg_count = pd.DataFrame(df_msg[df_msg['datetime'] >= datetime_Jan_24]['user_id'].value_counts()).astype(int)
    # msg_count.drop('guest', inplace = True)

    merged_df = pd.merge(sum_transac, msg_count,  on='user_id', how='left')
    merged_df.fillna(0, inplace=True)
    merged_df.columns = ['user_id', 'sum_price', 'number_of_uses']

    true_transac['price'] = pd.to_numeric(true_transac['price'])
    average_payout = true_transac.groupby('user_id')['price'].mean().reset_index()
    average_payout.columns = ['user_id', 'avg_price']
    average_payout['avg_price'] = average_payout['avg_price'].round(2)

    freq_tranc = pd.DataFrame(true_transac['user_id'].value_counts()).reset_index()
    frequency_df = true_transac.groupby('user_id').size().reset_index(name='Frequency')
    frequency_df['Frequency'].max()
    freq_tranc.columns = ['user_id', 'freq_tranc']

    true_transac['datetime'] = pd.to_datetime(true_transac['datetime'])
    first_last_transactions = true_transac.groupby('user_id')['datetime'].agg(['min', 'max']).reset_index()
    first_last_transactions.columns = ['user_id', 'first_transaction', 'last_transaction']

    min_max = true_transac.groupby('user_id')['price'].agg(['min', 'max']).reset_index()

    current_datetime = pd.Timestamp.now()

    formatted_datetime = current_datetime.strftime("%Y-%m-%d %H:%M:%S")
    today = pd.to_datetime(formatted_datetime)
    first_last_transactions['recency'] = (today - first_last_transactions['last_transaction']).dt.days

    merge_frequen = pd.merge(merged_df, freq_tranc,  on='user_id', how='left')
    merge_avg = pd.merge(merge_frequen, average_payout,  on='user_id', how='left')
    merge_date = pd.merge(merge_avg, first_last_transactions,  on='user_id', how='left')
    cdp = pd.merge(merge_date, min_max,  on='user_id', how='left')

    cdp['Sum_Score'] = pd.qcut(cdp['sum_price'], q=4, labels=False) + 1
    cdp['Mean_Score'] = pd.qcut(cdp['avg_price'], q=4, labels=False) + 1
    cdp['Min_Score'] = pd.qcut(cdp['min'], q=4, labels=False) + 1
    cdp['Max_Score'] = pd.qcut(cdp['max'], q=4, labels=False) + 1

    cdp['M_Score'] = (cdp['Sum_Score'] + cdp['Mean_Score'] + cdp['Min_Score'] + cdp['Max_Score']) / 4
    cdp['R_Score'] = pd.qcut(cdp['recency'], q=4, labels=False) + 1
    cdp['F_Score'] = pd.qcut(cdp['freq_tranc'], q=4, labels=False, duplicates='drop') + 1

    return cdp

In [4]:
def quartile_cdp(cdp) :
    X = cdp[['M_Score', 'R_Score']]

    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    pca = PCA(n_components=2)
    X_pca = pca.fit_transform(X_scaled)

    n_clusters = 4
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    cdp['Cluster'] = kmeans.fit_predict(X_scaled)

    cdp['Cluster'] = cdp['Cluster'].replace({ 0 : 'ลูกค้าชั้นดี เติมเยอะ ใช้งานบ่อย', 1 : 'ลูกค้าที่หลงมา เติมน้อย ไม่ได้ใช้นานแล้ว ', 2 : 'ลูกค้าประจำ เติมไม่เยอะมาก ใช้งานบ่อยมาก', 3 : 'ลูกค้าชั้นดีที่หายไป เติมเยอะ ไม่ได้ใช้นานแล้ว'})

    return cdp

def cdp_searcher(cdp, user_id) :
    cdp = quartile_cdp(cdp)
    cluster = cdp[cdp['user_id'] == user_id]['Cluster']
    return cluster

In [5]:
cdp = feature_eng(df_pay, df_message)
cdp

NameError: name 'df_pay' is not defined

In [ ]:
cluster = cdp_searcher(cdp, 'xfpAKBn21kgDR44rhg34kVYaMa63')